.main-box1 {
    text-align: center;
    margin: 50px;
    padding: 180px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 80px;
    font-size: 70px;
    color: whitesmoke;
    font-weight: bold;
}

#image1 {

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url('./images/istockphoto-1327568875-612x612.jpg');
}

#space {
    margin: 30px;
}

.aboutUsHeading {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 50px;
    font-weight: bold;
}

li {
    margin: 9px;
}

.aboutUsP1 {
    margin: 30px;
    padding: 30px;
}

.pAU {
    margin: 30px;
    padding: 30px;
}

#textIndent {
    text-indent: 30px;
}

.image1 {
    width: 400px;
    height: auto;
    padding-top: 70px;
}

.image3 {
    width: 320px;
    height: auto;
    padding-top: 10px;
    padding-left: 20px;
}

#OSPg1 {
    padding-left: 30px;
    padding-right: 30px;
}

#homeNavBar {
    padding-bottom: 30px;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
h1 {
    font-size: 3em;
    text-align: center;
}